/***** RESET *****/

* {
    box-sizing: border-box;
}

h1, h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/***** TYPOGRAPHY *****/

.darumadrop {
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.kosugi-maru {
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: clamp(4rem, 2vw, 5.5rem);
    font-weight: 800;
}

h2 {
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #C27893;
    size: 5em;
    margin-bottom: 10px;
}

p {
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #5E5E5E;
}

#date, #note {
    color: #E3A1B9;
    font-size: clamp(0.9rem, 2vw, 1rem);
}

#intro {
    color: #EDC2D3;
    font-size: clamp(0.9rem, 2vw, 1rem);
}

/***** ELEMENTS *****/

body {
    background: #FFEDF4;
}

h1 {
    left: 0;
    position: absolute;
    text-align: center;
    top: 12%;
    width: 100%;
    text-align: center;
    color: #C27893;
    padding: 30px;
    line-height: 0.9em;
}

#date {
    left: 0;
    position: absolute;
    text-align: center;
    top: 4%;
    width: 100%;
    text-align: center;
    padding: 30px;
    line-height: 0.9em;
}

#intro {
    left: 0;
    position: absolute;
    text-align: center;
    top: 9%;
    width: 100%;
    text-align: center;
    padding: 18px;
    line-height: 0.9em;
}

#note {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    text-align: center;
    padding: 30px;
    line-height: 0.9em;
}

/***** IMAGE SCROLL *****/

/* hide scrollbar */
::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
}

.external {
    margin-top: 10em;
    overflow: hidden;
    height: 100vh;
}

.horizontal-scroll-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vh;
    transform: rotate(-90deg) translate3d(0, -100vh, 0);
    transform-origin: right top;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    height: 100vw;
    perspective: 1px;
    transform-style: preserve-3d;
    padding-bottom: 10rem;
}

.img-wrapper {
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    transform-origin: 50% 50%;
    transform: rotate(90deg) translateZ(.1px) scale(0.9) translateX(0px) translateY(-3vh);
    transition: 1s;
}

.img-wrapper:hover {
    min-height: 65vh;
}

.slower {
    transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(-10vh);
}

.slower1 {
    transform: rotate(90deg) translateZ(-.25px) scale(1.05) translateX(0%) translateY(8vh);
}

.slower2 {
    transform: rotate(90deg) translateZ(-.3px) scale(1.3) translateX(0%) translateY(2vh);
}

.slower-down {
    transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(16vh);
}

.faster {
    transform: rotate(90deg) translateZ(.15px) scale(0.8) translateX(0%) translateY(14vh);
}

.faster1 {
    transform: rotate(90deg) translateZ(.05px) scale(0.8) translateX(0%) translateY(10vh);
}

.fastest {
    transform: rotate(90deg) translateZ(.22px) scale(0.7) translateX(-10vh) translateY(-15vh);
}

.vertical {
    transform: rotate(90deg) translateZ(-.15px) scale(1.15) translateX(0%) translateY(0%);
}

.last {
    transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(25vh) translateY(-8vh);
}

.img-wrapper a {
    overflow: hidden;
    display: block;
    padding: 1vh;
    background: #C27893;
    box-shadow: 0 10px 50px #43434382;
}

.grey {
    max-width: 45vh;
    max-height: 50vh;
    transition: .5s;
    vertical-align: top;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

a:hover img {
    filter: none;
}

.scroll-info {
    display: flex;
    align-items: center;
}

/****** OVERLAY *****/

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

section[id^="overlay"] {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
    z-index: 1000; /* IMPORTANT */
}

section[id^="overlay"] article {
    box-sizing: border-box;
    background-color: #EBBCCD;
    padding: 20px;
    width: 30vw;
    height: 30vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
}

.close {
  font-family: "Kosugi Maru", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #C27893;
  background-color: #FFFFFF;
  border: none;
  margin-top: 20px;
  margin-bottom: 9px;
}

.close:hover {
  font-family: "Kosugi Maru", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #965069;
  background-color:#C27893;
  border: none;
}

/****** RESPONSIVE *****/

/* Phone */
@media screen and (max-width: 480px) {
    section[id^="overlay"] article {
        width: 80vw;
        height: 50vh;
    }
}